.silder{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    overflow: hidden;
    min-height: 100vh;
    flex-wrap: wrap;
}
.slider-body{
    width: 100%;
    position: relative;
}
.slider-carousel{
    display: flex;
    align-items: center;
    max-width: 700px;
    /* overflow: hidden; */
    margin: 0 auto;
    position: relative;
}
.navigation{
    flex: 0 0 100%;
}
.silder .item{
    background-color: #ffffff;
    flex: 0 0 100%;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    min-height: 420px;
    /* display: block; */
    position: relative;
    opacity: 1;
    transition: 0.5s;
    position: absolute;
}
.silder .item.slide-hidden{
    /* display: none; */
    opacity: 0;
}
.silder .ans{
    background-color:transparent;
    border:0px;
    padding: 0px;
    cursor: pointer;
}
.silder .item .qus{
    padding: 81px 60px;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 0px;
}
.silder .item .qus h2{
    font-size: 37px;
}
.silder .ans img{
    max-width: 100%;
    width: 100%;
}
.silder .ans  p{
    font-family: 'Copernicus Trial Book';
    font-size: 24px;
    text-align: center;
    color: #000000;
}
.navigation{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    position: absolute;
    top: -270px;
    width: 100%;
    z-index: 9;
}
.navigation p{
    color: #ffffff;
    margin: 0px;
    font-family: 'Copernicus Trial Book';
    margin-right: 10px;
}
.navigation span{
    width: 7px;
    height: 7px;
    background: #FFFFFF33;
    border-radius: 10px;
    display: inline-block;
    margin-right: 5px;
}
.navigation span.active{
    background-color: #ffffff;
}
.btn{
    display: table;
    align-items: center;
    background-color: transparent;
    border:0px;
    font-weight: 600;
    font-size: 20px;    
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.btn img{
    margin-right: 10px;
}
.controler{
    position: absolute;
    top: 50%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.controler button{
    background-color: transparent;
    border: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #FFFFFF24;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.controler button:hover{
    background-color: #FDF416;
}
.controler button:hover svg path{
    fill: #000000;
    stroke: #000000;
}
.next-btn svg{
    transform: rotate(180deg);
}