.slider{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    overflow: hidden;
    min-height: 100vh;
    flex-wrap: wrap;
}
.slider-body{
    width: 100%;
    position: relative;
}
.slider-carousel{
    display: flex;
    align-items: center;
    max-width: 700px;
    /* overflow: hidden; */
    margin: 0 auto;
    position: relative;
}
.navigation{
    flex: 0 0 100%;
}
.slider .item{
    /* background-color: #ffffff; */
    flex: 0 0 100%;
    border-radius: 5px;
    box-sizing: border-box;
    /* display: none; */
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    width: 100%;
    z-index: 99;
}
.slider-carousel:hover .item.card-active .qus{
    transform: perspective(300px) rotateY(4deg);
}
.hover{
    transition: transform 1500ms;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 420px;
}
.slider .item.card-active{
    /* display: block; */
    opacity: 1;
}
.item.hidden:has(+ .item.card-active) {
    background-color: blue;
    transform: translateX(-100%);
    z-index: -1;
}
.item.card-active + .item.hidden {
    background-color: red;
    z-index: -1;
    transform: translateX(100%);
}
.slider .item .ans{
    background-color:transparent;
    border:0px;
    padding: 0px;
    cursor: pointer;
    position: absolute;
    height: 100%;
    background-color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    transform:rotateY(180deg);
}
.slider .item .qus{
    padding: 81px 60px;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 0px;
    position: absolute;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 1;
    transition: 0.5s;
}
.slider .item .qus h2{
    font-size: 37px;
}
.slider .ans img{
    max-width: 100%;
    width: 100%;
}
.slider .ans  p{
    font-family: 'Copernicus Trial Book';
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin: 0px;
    padding: 11px 0px;
}
.slider .qus, .slider .ans{
    backface-visibility: hidden;
}
.slider .item .hover.active {
    transform: rotateY(180deg);
}
.navigation{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    position: absolute;
    top: -270px;
    width: 100%;
    z-index: 9;
}
.navigation p{
    color: #ffffff;
    margin: 0px;
    font-family: 'Copernicus Trial Book';
    margin-right: 10px;
}
.navigation span{
    width: 7px;
    height: 7px;
    background: #FFFFFF33;
    border-radius: 10px;
    display: inline-block;
    margin-right: 5px;
}
.navigation span.active{
    background-color: #ffffff;
}
.btn{
    display: table;
    align-items: center;
    background-color: transparent;
    border:0px;
    font-weight: 600;
    font-size: 20px;    
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.btn img{
    margin-right: 10px;
}
.controler{
    position: absolute;
    top: 50%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.controler button{
    background-color: transparent;
    border: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #FFFFFF24;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.controler button:hover{
    background-color: #FDF416;
}
.controler button:hover svg path{
    fill: #000000;
    stroke: #000000;
}
.next-btn svg{
    transform: rotate(180deg);
}